.c1 {
    background-color: rgb(251, 223, 255);
    margin: auto;
    padding: 10px 510px;
    }

.c2{
    color: rgb(85, 0, 85);
    font-size:large;
}

.c3{
    background-color: rgb(255, 255, 184);
    margin: auto;
    padding: 10px 490px;
}

.c4{
    font-size: small;
    font-weight: bold;
}